/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'bootstrap-sprockets';
@import 'bootstrap';


//Typography Styles
h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 350%;
}

body {
  background: #ffbdbd;
}
.navbar {
  border: none;
  background: url(http://i64.tinypic.com/246j7gp.gif);
  background-repeat: repeat-x;
}

.navbar-default {
  background: #ffbdbd;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover { 
  color: white;
  opacity: 0.75;
  }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover{
  color: white;
  opacity: 0.75;
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer { 
    color: white;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-brand{
  color: white;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #ffbdbd;
  }
}